################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal.Application/bin/Debug/net8.0
/Portal.Application/obj
/PortalAPI/.vs
/PortalAPI/bin/Debug/net8.0
/PortalAPI/obj
/Portal.Core/obj
/Portal.Infrastructure/obj
/Portal.Shared/obj
/Portal.Core/bin/Debug/net8.0
/Portal.Infrastructure/bin/Debug/net8.0
/Portal.Shared/bin/Debug/net8.0
/PortalTest/bin/Debug/net8.0
/PortalTest/obj
/portal-client/package-lock.json
/PortalAPI/appsettings.json
/PortalAPI/propertyportal-4c1a3-firebase-adminsdk-fbsvc-d4f49c10f7.json
/PortalAPI/appsettings.json
/portal-client/package-lock.json
/portal-client/package-lock.json
/PortalAPI/bin/Debug/net10.0/appsettings.json
/PortalAPI/bin/Debug/net10.0/PortalAPI.exe
/PortalAPI/bin/Debug/net10.0/PortalAPI.pdb
/PortalAPI/bin/Debug/net10.0/PortalAPI.dll
/PortalAPI/appsettings.json
/PortalAPI/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
/PortalAPI/bin/Debug/net10.0/PortalAPI.deps.json
/PortalAPI/logs
/PortalAPI/bin/Debug/net10.0/PortalAPI.dll
/PortalAPI/bin/Debug/net10.0/PortalAPI.exe
/PortalAPI/bin/Debug/net10.0/PortalAPI.pdb
*.dll
